__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.env
!.env.example

.env.*
!.env.example

*.log
*.sqlite3
*.db
uploads/
cache/
.git/
.github/
.vscode/
.idea/
tests/__pycache__/
openapi.json
image.jfif
